h2{
    color:red;
}
h1{
    background: #088395;
    /* margin-left: 100px;
    margin-bottom: 200px;
    margin-right: 100px; */
    /* margin:  100px; */
    /* margin: 200px 100px; */
    margin: 100px 10px 20px 500px;
}
p{
    background: #ECC9EE;
    padding: 100px;
}
#unico{
    color: blue;
    font-size: 60px;
}
.azul{
    color: blue;
}
.fondo{
    background: #444;
}
.color{
    color: tomato;

}
.verde{
    color: rgb(60, 177, 71);
}
.celeste{
    color: #00ced1;
}

